@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
$textarea-color:rgb(163, 48, 9);
$search-color:rgb(233,233,233);
$font-family:'Acme', sans-serif;

body{
  font-family: $font-family;
  margin: 0;
  padding: 0;
}

@mixin flex{
  display: flex;
  justify-content: space-between;
}
.container{
  max-width: 968px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}
.dark-mode{
  background-color: black;
 
  h1{
    color: white;
  }
  .toggle{
    background-color: rgba(255, 255, 255, 0.37);
    &:hover{
      background-color:rgba(255, 255, 255, 0.479) ;
    }
  }
}

.note{
  background-color:coral;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  @include flex;
  flex-direction: column;
  white-space: pre-wrap; //includes the white space in the new note added


 &.new{
   background-color:rgb(163, 48, 9) ;
 }

 textarea{
    border: none;
    resize: none;//removes the expandable area that comes with textarea
    background-color:$textarea-color;

    &:focus{
      outline: none;
    }
 }

 .delete{
  color: rgb(34, 39, 39);
  font-size: 17px;

  &:hover{
    cursor: pointer;
    font-size: 15px;
  }
 }

}
.save{
  background-color: #130a0abd;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  color: white;
  font-size: 15px;

  &:hover{
    background-color: black;
    cursor:pointer;
  }
}
::placeholder,.save{
  font-family: $font-family;
}
.note-footer{
  @include flex;
  align-items: center;

}

.notes-list{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.search{
  display: flex;
  align-items: center;
  background-color: $search-color;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1.5em;


  input{
    border: none;
    background-color: $search-color;
    font-family: $font-family;
    margin-left: 5px;
     &:focus{
      outline: none;
     }
  }
}

.toggle{
  @extend .save
}
.dark-color{
  background-color: black;
}
